@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", sans-serif;
  --font-mono: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  
  --color-brand-blue: #025bc5;
  --color-brand-blue-hover: #014394;
  --color-brand-red: #e10600;
  --color-brand-red-hover: #b80500;

  --color-dark-bg: #0F1115;
  --color-dark-sec: #171A21;
  --color-dark-card: #1D212B;
  --color-dark-border: #262B37;
}

* {
  font-family: "Montserrat", ui-sans-serif, system-ui, sans-serif !important;
}

body {
  font-family: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0F1115;
}
::-webkit-scrollbar-thumb {
  background: #262B37;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: #025bc5;
}

/* Smooth scrolling and prevent horizontal scroll */
html, body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

